table,td,tr {

    border: 1.5px solid black;
    border-collapse: collapse;
    align-items: center;
    margin: auto;
}

h2 {
    color: darkmagenta;
    font-weight: bold;
    text-align: center;
}

caption {
    color: rgb(4, 48, 180);
    text-align: center;
}

th {
    background-color: gray;
    border: 1.5px solid black;
    border-collapse: collapse;
}